<tr>
    <td><a href="{{ path('admin_progenitor_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
    <td>{{ entity.direccion }}</td>
    <td>{{ entity.telefono }}</td>
    <td>{{ entity.email }}</td>
    <td>
      <a href="{{ path('admin_progenitor_edit', { 'id': entity.id }) }}" class="btn btn-white"><i class="fa fa-pencil"></i></a>
    </td>
</tr>
