{% extends "AppBundle::adminlayout.html.twig" %}

{% block body -%}
  <div class="row">
    <div class="col-md-12 mg-b-lg">
      <a href="{{ path('admin_progenitor_new') }}" class="btn btn-success">
        {% trans %}progenitor_create_new{% endtrans %}
      </a>
    </div>
    <div class="col-md-7">
      <section class="panel">
        <div class="panel-heading">{% trans %}progenitor_title{% endtrans %}</div>
        <div class="panel-body no-padding">
          <table class="table table-striped no-margin">
            <thead>
              <tr>
                <th>
                  {% set tOrder = 'asc' %}
                  {% if orderBy == 'nombre' %}
                    {% if order == 'asc' %}
                      {% set tOrder = 'desc' %}
                    {% endif %}
                  {% endif %}
                  <a href="{{ path('admin_progenitor', {'page' : 1, 'orderBy' : 'nombre', 'order' : tOrder}) }}">
                    {% trans %}progenitor_nombre{% endtrans %}
                  </a>  
                </th>
                <th>
                  {% set tOrder = 'asc' %}
                  {% if orderBy == 'direccion' %}
                    {% if order == 'asc' %}
                      {% set tOrder = 'desc' %}
                    {% endif %}
                  {% endif %}
                  <a href="{{ path('admin_progenitor', {'page' : 1, 'orderBy' : 'direccion', 'order' : tOrder}) }}">
                    {% trans %}progenitor_direccion{% endtrans %}
                  </a>  
                </th>
                <th>
                  {% set tOrder = 'asc' %}
                  {% if orderBy == 'telefono' %}
                    {% if order == 'asc' %}
                      {% set tOrder = 'desc' %}
                    {% endif %}
                  {% endif %}
                  <a href="{{ path('admin_progenitor', {'page' : 1, 'orderBy' : 'telefono', 'order' : tOrder}) }}">
                    {% trans %}progenitor_telefono{% endtrans %}
                  </a>
                </th>
                <th>
                  {% set tOrder = 'asc' %}
                  {% if orderBy == 'email' %}
                    {% if order == 'asc' %}
                      {% set tOrder = 'desc' %}
                    {% endif %}
                  {% endif %}
                  <a href="{{ path('admin_progenitor', {'page' : 1, 'orderBy' : 'email', 'order' : tOrder}) }}">
                    {% trans %}progenitor_email{% endtrans %}
                  </a>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
              {% include 'AppBundle:Progenitor:_progenitorTableRow.html.twig' with {'entity' : entity} %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
      {% if page > 0 %}
      <a href="{{ path('admin_progenitor', {'page' : page - 1}) }}" class="btn btn-info">
        <i class="glyphicon glyphicon-chevron-left"></i>
        {% trans %}progenitor_page_previous{% endtrans %}
      </a>    
      {% endif %}
      {% if entities | length == limit %}
      <a href="{{ path('admin_progenitor', {'page' : page + 1}) }}" class="btn btn-info">
        {% trans %}progenitor_page_next{% endtrans %}
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
      {% endif %}
    </div>
    {% include 'AppBundle:Progenitor:_filterIndex.html.twig' with {'filter' : filter} %}
{% endblock %}
