{% extends "AppBundle::adminlayout.html.twig" %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/app/js/vendor/parsleyjs/parsley.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/app/js/vendor/parsleyjs/i18n/es.js') }}"></script>
{% endblock %}
{% block pagestylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/app/js/vendor/parsleyjs/parsley.css') }}">
{% endblock %}

{% block body -%}
<div class="row">
  <div class="col-lg-8">
	<section class="panel">
	  <header class="panel-heading">{% trans %}progenitor_create_entry{% endtrans %}</header>
	  <div class="panel-body">
    {% if errorMessage is defined %}
      <h3>{{ errorMessage }}</h3>
    {% endif %}
		{% include 'AppBundle:Progenitor:_newForm.html.twig' with {'form' : form, 'formUrl' : formUrl, 'onsubmit' : onsubmit} %}
		  </div>
		</section>
	  </div>
	  <div class="col-lg-8">
		  <a href="{{ path('admin_progenitor') }}" class="btn btn-info">
			{% trans %}progenitor_back_to_list{% endtrans %}
			</a>
		  </div>
		</div>
{% endblock %}
