{% extends "AppBundle::adminlayout.html.twig" %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/app/js/vendor/parsleyjs/parsley.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/app/js/vendor/parsleyjs/i18n/es.js') }}"></script>
{% endblock %}
{% block pagestylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/app/js/vendor/parsleyjs/parsley.css') }}">
{% endblock %}

{% block body -%}
<div class="row">
  <div class="col-lg-8">
	<section class="panel">
	  <header class="panel-heading">{% trans %}progenitor_create_entry{% endtrans %}</header>
	  <div class="panel-body">
    {% if errorMessage is defined %}
      <h3>{{ errorMessage }}</h3>
    {% endif %}
		<form action="{{ path('admin_progenitor_create') }}" method="post" role="form" data-parsley-validate>
		  <div class="form-group">
			  {{ form_errors(form.nombre) }}
			  <label for="{{ form.nombre.vars.id }}">{% trans %}progenitor_nombre{% endtrans %}</label>
			  {{ form_widget(form.nombre, {'attr' : {'class' : 'form-control'}}) }}
			</div>
          <div class="form-group">
			  {{ form_errors(form.direccion) }}
              <label for="{{ form.direccion.vars.id }}">{% trans %}progenitor_direccion{% endtrans %}</label>
			  {{ form_widget(form.direccion, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(form.telefono) }}
              <label for="{{ form.telefono.vars.id }}">{% trans %}progenitor_telefono{% endtrans %}</label>
			  {{ form_widget(form.telefono, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(form.celular) }}
              <label for="{{ form.celular.vars.id }}">{% trans %}progenitor_celular{% endtrans %}</label>
			  {{ form_widget(form.celular, {'attr' : {'class' : 'form-control'}}) }}
          </div>
          <div class="form-group">
			  {{ form_errors(form.newsletterUser.email) }}
              <label for="{{ form.newsletterUser.email.vars.id }}">{% trans %}progenitor_email{% endtrans %}</label>
			  {{ form_widget(form.newsletterUser.email, {'attr' : {'class' : 'form-control'}}) }}
          </div>

			  <div class="form-group">
				<button type="submit" class="btn btn-default">{% trans %}progenitor_save{% endtrans %}</button>
			  </div>
				{{ form_rest(form) }}
			</form>
		  </div>
		</section>
	  </div>
	  <div class="col-lg-8">
		  <a href="{{ path('admin_progenitor') }}" class="btn btn-info">
			{% trans %}progenitor_back_to_list{% endtrans %}
			</a>
		  </div>
		</div>
{% endblock %}
