{% extends 'base.html.twig' %}
{% block title %}{% trans %}page_title_homepage{%endtrans %}{% endblock %}
{% block body %}
<div class="owl-carousel owl-carousel1 owl-carousel-fullwidth fh5co-light-arrow animate-box" data-animate-effect="fadeIn">
  {% for file in mainSlider %}
    <div class="item"><a href="{{ file.fullPath | mImage(1370, 636, 'rce') }}" class="image-popup"><img src="{{ file.fullPath | mImage(1370, 636, 'rce') }}" alt="{{ file.name }}"></a></div>
  {% endfor %}
</div>
<div id="fh5co-media-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 text-center heading-section">
                <h3>{% trans %}index_page_title{% endtrans %}</h3>
                <p>{% trans %}index_page_introduction{% endtrans %}</p>
            </div>
        </div>
    </div>
</div>
<!-- END fh5co-media-section -->
<div id="fh5co-intro-section">
    <div class="fh5co-intro-cover text-center animate-box" data-animate-effect="fadeIn" data-stellar-background-ratio="0.5" style="background-image: url({{ asset('images/intro.jpg')}});">
        <a href="#" class="btn">{% trans %}index_page_about_us_title{% endtrans %}</a>
    </div>
</div>
<!-- END fh5co-intro-section -->
<div id="fh5co-product-section">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 text-center heading-section animate-box">
                <h3>{% trans %}index_page_philosophy_title{% endtrans %}</h3>
                <p>{% trans %}index_page_philosophy_body{% endtrans %}</p>
            </div>
        </div>
        <div class="owl-carousel owl-carousel2">
            {% for file in mainSlider %}
              <div class="item animate-box"><a href="{{ file.fullPath | mImage(982, 667, 'rce') }}" class="image-popup"><img src="{{ file.fullPath | mImage(982, 667, 'rce') }}" alt="{{ file.name }}"></a></div>
            {% endfor %}
        </div>    
        <div class="row">
            <div class="col-md-12 text-center heading-section animate-box">
                <h3>{% trans %}index_page_history_title{% endtrans %}</h3>
                <p>{% trans %}index_page_history_body{% endtrans %}</p>
            </div>
        </div>
    </div>
</div>
<!-- END fh5co-product-section -->
<div id="fh5co-section" class="fh5co-grey-section">
    <div class="container">
    </div>
</div>
{% endblock %}
