<div class="collapse navbar-collapse pull-left no-padding" id="hor-menu">
  <ul class="nav navbar-nav">
    <li>
      <a href="{{ path('admin_alertas')}}">{% trans %}menu_alertas{% endtrans %}</a>
    </li>
    <li>
      <a href="{{ path('maith_common_translator_homepage')}}">{% trans %}menu_textos{% endtrans %}</a>
    </li>
    <li class="dropdown show-on-hover">
      <a href="javascript:;" data-toggle="dropdown">
        <span>{% trans %}menu_alumnos{% endtrans %}</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="{{ path('estudiante') }}">
            <span>{% trans %}menu_alumnos_corrientes{% endtrans %}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('estudiante_exportar')}}">
            <span>{% trans %}menu_alumnos_exportar_corrientes{% endtrans %}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('estudiante_futuros') }}">
            <span>{% trans %}menu_alumnos_futuros{% endtrans %}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('estudiante_egresados')}}">
            <span>{% trans %}menu_alumnos_egresado{% endtrans %}</span>
          </a>
        </li>
      </ul>
    </li>
    {% if is_expr_granted("hasRole('ROLE_MANAGE_NEWSLETTER')") %}
    <li class="{% if (activemenu is defined) and activemenu == 'newsletter' %}active{%endif%}">
		<a href="{{ path('admin_newsletter_index')}}">
			<span>{% trans %}app_admin_menu_newsletter{% endtrans %}</span>
		</a>
	   </li>
    {% endif %}
    <li class="{% if (activemenu is defined) and activemenu == 'progenitor' %}active{%endif%}">
      <a href="{{ path('admin_progenitor')}}">
        <span>{% trans %}app_admin_menu_progenitores{% endtrans %}</span>
      </a>
     </li>
     <li class="{% if (activemenu is defined) and activemenu == 'cuentas' %}active{%endif%}">
      <a href="{{ path('listado_cuentas')}}">
        <span>{% trans %}app_admin_menu_cuentas{% endtrans %}</span>
      </a>
     </li>
     <li class="{% if (activemenu is defined) and activemenu == 'galerias' %}active{%endif%}">
      <a href="{{ path('gallery_list')}}">
        <span>{% trans %}app_admin_menu_galerias{% endtrans %}</span>
      </a>
     </li>

  </ul>
</div>
