<div class="collapse navbar-collapse pull-left no-padding" id="hor-menu">
  <ul class="nav navbar-nav">
    <li>
      <a href="{{ path('admin_alertas')}}">{% trans %}menu_alertas{% endtrans %}</a>
    </li>
    <li>
      <a href="{{ path('admin_alertas')}}">{% trans %}menu_textos{% endtrans %}</a>
    </li>
    <li class="dropdown show-on-hover">
      <a href="javascript:;" data-toggle="dropdown">
        <span>{% trans %}menu_alumnos{% endtrans %}</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="{{ path('estudiante') }}">
            <span>{% trans %}menu_alumnos_corrientes{% endtrans %}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('estudiante_exportar')}}">
            <span>{% trans %}menu_alumnos_exportar_corrientes{% endtrans %}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('estudiante_futuros') }}">
            <span>{% trans %}menu_alumnos_futuros{% endtrans %}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('estudiante_egresados')}}">
            <span>{% trans %}menu_alumnos_egresado{% endtrans %}</span>
          </a>
        </li>
      </ul>
    </li>
    {% if is_expr_granted("hasRole('ROLE_MANAGE_NEWSLETTER')") %}
    <li class="{% if (activemenu is defined) and activemenu == 'newsletter' %}active{%endif%}">
		<a href="{{ path('admin_newsletter_index')}}">
			<span>{% trans %}app_admin_menu_newsletter{% endtrans %}</span>
		</a>
	   </li>
    {% endif %}
    <li class="{% if (activemenu is defined) and activemenu == 'progenitor' %}active{%endif%}">
      <a href="{{ path('admin_progenitor')}}">
        <span>{% trans %}app_admin_menu_progenitores{% endtrans %}</span>
      </a>
     </li>
     <li class="{% if (activemenu is defined) and activemenu == 'cuentas' %}active{%endif%}">
      <a href="{{ path('listado_cuentas')}}">
        <span>{% trans %}app_admin_menu_cuentas{% endtrans %}</span>
      </a>
     </li>
    <li class="dropdown active show-on-hover">
      <a href="javascript:;" data-toggle="dropdown">
        <span>Layouts</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="boxed.html">
            <span>Boxed</span>
          </a>
        </li>
        <li class="active">
          <a href="horizontal.html">
            <span>Horizontal menu</span>
          </a>
        </li>
        <li>
          <a href="horizontal_boxed.html">
            <span>Horizontal Boxed</span>
          </a>
        </li>
        <li>
          <a href="small-sidebar.html">
            <span>Small sidebar</span>
          </a>
        </li>
        <li>
          <a href="right-sidebar.html">
            <span>Right Sidebar</span>
          </a>
        </li>
        <li>
          <a href="right-sidebar-collapsible.html">
            <span>Right Sidebar collapsible</span>
          </a>
        </li>
        <li>
          <a href="both.html">
            <span>Mixed menus</span>
          </a>
        </li>
        <li>
          <a href="collapsible.html">
            <span>Collapsible Menu</span>
          </a>
        </li>
        <li>
          <a href="footer.html">
            <span>With Footer</span>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</div>
