{% if (smallnavigation is defined) and smallnavigation %}
<nav class="main-navigation">
{% else %}
<nav class="main-navigation slimscroll" data-height="auto" data-size="4px" data-color="#ddd" data-distance="0">
{% endif %}
  <ul>
	<li>
      <a href="{{ path('admin_index')}}">
        <i class="fa fa-coffee"></i>
		<span>{% trans %}tekoa_admin_menu_home{% endtrans %}</span>
      </a>
	</li>
	{% if is_expr_granted("hasRole('ROLE_VIEW_CATEGORY')") %}
    <li class="{% if (activemenu is defined) and activemenu == 'category' %}active{%endif%}">
		<a href="{{ path('admin_category')}}">
			<i class="fa fa-newspaper-o"></i>
			<span>{% trans %}tekoa_admin_menu_tab_categories{% endtrans %}</span>
		</a>
	</li>
    {% endif %}
	{% if is_expr_granted("hasRole('ROLE_VIEW_USERS') or hasRole('ROLE_VIEW_PERMISSION_GROUPS')") %}
    <li class="dropdown{% if (activemenu is defined) and activemenu == 'users' %} collapse-open open{% endif %}">
      <a href="javascript:;" data-toggle="dropdown">
        <i class="fa fa-user"></i>
		<span>{% trans %}tekoa_admin_menu_tab_usuarios{% endtrans %}</span>
		<i class="toggle-accordion"></i>
      </a>
      <ul class="dropdown-menu">
		{% if is_expr_granted("hasRole('ROLE_VIEW_USERS')") %}
        <li class="{% if (activesubmenu is defined) and activesubmenu == 'users' %}active{%endif%}">
		  <a href="{{ path('user')}}">
			<span>{% trans %}tekoa_admin_menu_usuarios{% endtrans %}</span>
		  </a>
		</li>
		{% endif %}
		{% if is_expr_granted("hasRole('ROLE_VIEW_PERMISSION_GROUPS')") %}
        <li class="{% if (activesubmenu is defined) and activesubmenu == 'usersgrouproles' %}active{%endif%}">
		  <a href="{{ path('grouprole')}}">
			<span>{% trans %}tekoa_admin_menu_grupos_roles{% endtrans %}</span>
		  </a>
		</li>
		{% endif %}
      </ul>  
    </li>
	{% endif %}
	{% if is_expr_granted("hasRole('ROLE_VIEW_TRANSPORT')") %}
    <li class="{% if (activemenu is defined) and activemenu == 'transport' %}active{%endif%}">
		<a href="{{ path('admin_transport')}}">
			<i class="fa fa-bus"></i>
			<span>{% trans %}tekoa_admin_menu_tab_transports{% endtrans %}</span>
		</a>
	</li>
    {% endif %}
    {% if is_expr_granted("hasRole('ROLE_VIEW_ARTICLE')") %}
    <li class="{% if (activemenu is defined) and activemenu == 'article' %}active{%endif%}">
		<a href="{{ path('admin_article')}}">
			<i class="fa fa-newspaper-o"></i>
			<span>{% trans %}tekoa_admin_menu_article{% endtrans %}</span>
		</a>
	</li>
    {% endif %}
    {% if is_expr_granted("hasRole('ROLE_VIEW_GALLERY')") %}
    <li class="{% if (activemenu is defined) and activemenu == 'gallery' %}active{%endif%}">
		<a href="{{ path('admin_gallerie')}}">
			<i class="fa fa-file-image-o"></i>
			<span>{% trans %}tekoa_admin_menu_gallery{% endtrans %}</span>
		</a>
	</li>
    {% endif %}
    {% if is_expr_granted("hasRole('ROLE_VIEW_TRANSLATOR')") %}
    <li>
		<a href="{{ path('maith_common_translator_homepage')}}">
			<i class="fa fa-file-text-o"></i>
			<span>{% trans %}tekoa_admin_menu_textos{% endtrans %}</span>
		</a>
	</li>
    {% endif %}
    {% if is_expr_granted("hasRole('ROLE_VIEW_TICKET')") %}
    <li class="{% if (activemenu is defined) and activemenu == 'tickets' %}active{%endif%}">
		<a href="{{ path('admin_ticket_')}}">
			<i class="fa fa-bookmark-o"></i>
			<span>{% trans %}tekoa_admin_menu_tickets_areos{% endtrans %}</span>
		</a>
	</li>
    {% endif %}
    {% if is_expr_granted("hasRole('ROLE_VIEW_DESTINY')") %}
    <li class="{% if (activemenu is defined) and activemenu == 'destiny' %}active{%endif%}">
		<a href="{{ path('admin_destiny')}}">
			<i class="fa fa-paper-plane-o"></i>
			<span>{% trans %}tekoa_admin_menu_destinos{% endtrans %}</span>
		</a>
	</li>
    {% endif %}
    {% if is_expr_granted("hasRole('ROLE_MANAGE_NEWSLETTER')") %}
    <li class="{% if (activemenu is defined) and activemenu == 'newsletter' %}active{%endif%}">
		<a href="{{ path('admin_newsletter_index')}}">
			<i class="fa fa-envelope-o"></i>
			<span>{% trans %}tekoa_admin_menu_newsletter{% endtrans %}</span>
		</a>
	</li>
    {% endif %}
  </ul>
</nav>
