{% extends "AppBundle::adminlayout.html.twig" %}

{% block body -%}
  <div class="row">
    <div class="col-md-12 mg-b-lg">
      <a href="{{ path('estudiante_new') }}" class="btn btn-success">
        {% trans %}students_create_new{% endtrans %}
      </a>
    </div>
    <div class="col-md-7">
      <section class="panel">
        <div class="panel-heading">{% trans %}students_title{% endtrans %}</div>
        <div class="panel-body no-padding">
          <table class="table table-striped no-margin">
            <thead>
              <tr>
                <th>
                    {% trans %}students_name{% endtrans %}
                </th>
                <th>
                    {% trans %}students_lastname{% endtrans %}
                </th>
                <th>
                    {% trans %}students_birthdate{% endtrans %}
                </th>
                <th>
                    {% trans %}students_account{% endtrans %}
                </th>
                <th>
                    {% trans %}students_class{% endtrans %}
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for entity in entities %}
                {% include 'AppBundle:Estudiante:studentTableRow.html.twig' with {'entity' : entity} %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <div class="col-md-5">
      <section class="panel">
        <div class="panel-heading">{% trans %}students_filter_title{% endtrans %}</div>
        <div class="panel-body no-padding">
          <form role="form" class="form-horizontal">
              <div class="form-group">
                  {{ form_errors(filter.referenciaBancaria) }}
                  <label class="col-sm-2 control-label" for="{{ filter.referenciaBancaria.vars.id }}">{% trans %}students_account{% endtrans %}</label>
                  <div class="col-sm-10">
                      {{ form_widget(filter.referenciaBancaria, {'attr' : {'class' : 'form-control'}}) }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form_errors(filter.apellido) }}
                  <label class="col-sm-2 control-label" for="{{ filter.apellido.vars.id }}">{% trans %}students_lastname{% endtrans %}</label>
                  <div class="col-sm-10">
                      {{ form_widget(filter.apellido, {'attr' : {'class' : 'form-control'}}) }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form_errors(filter.nombre) }}
                  <label class="col-sm-2 control-label" for="{{ filter.nombre.vars.id }}">{% trans %}students_name{% endtrans %}</label>
                  <div class="col-sm-10">
                      {{ form_widget(filter.nombre, {'attr' : {'class' : 'form-control'}}) }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form_errors(filter.clase) }}
                  <label class="col-sm-2 control-label" for="{{ filter.clase.vars.id }}">{% trans %}students_clase{% endtrans %}</label>
                  <div class="col-sm-10">
                      {{ form_widget(filter.clase, {'attr' : {'class' : 'form-control'}}) }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form_errors(filter.horario) }}
                  <label class="col-sm-2 control-label" for="{{ filter.horario.vars.id }}">{% trans %}students_horario{% endtrans %}</label>
                  <div class="col-sm-10">
                      {{ form_widget(filter.horario, {'attr' : {'class' : 'form-control'}}) }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form_errors(filter.actividades) }}
                  <label class="col-sm-2 control-label" for="{{ filter.actividades.vars.id }}">{% trans %}students_actividades{% endtrans %}</label>
                  <div class="col-sm-10">
                      {{ form_widget(filter.actividades, {'attr' : {'class' : 'form-control'}}) }}
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button class="btn btn-default" type="submit">Buscar</button>
                  </div>
              </div>
              {{ form_rest(filter) }}
          </form>
          
        </div>
    </div>
  </div>



{% endblock %}
