{% extends "AppBundle::adminlayout.html.twig" %}

{% block body -%}
  <div class="row">
    <div class="col-lg-6">
      <section class="panel">
        <header class="panel-heading">{% trans %}students_show_title{% endtrans %}</header>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8">
              <h4>{{ entity.nombre }} {{ entity.apellido }}</h4>
            </div>
            <div class="col-lg-4">
              <a class="btn btn-success pull-right" href="{{ path('estudiante_edit', { 'id': entity.id }) }}">
                Edit
              </a>
            </div>
          </div>

          <table class="table table-striped no-margin">
            <tbody>
              <tr>
                <th>{% trans %}students_name{% endtrans %}</th>
                <td>{{ entity.nombre }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_lastname{% endtrans %}</th>
                <td>{{ entity.apellido }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_birthdate{% endtrans %}</th>
                <td>{{ entity.fechaNacimiento|date('d/m/Y') }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_startyear{% endtrans %}</th>
                <td>{{ entity.anioIngreso }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_sociedad{% endtrans %}</th>
                <td>{{ entity.sociedadMedica }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_account{% endtrans %}</th>
                <td>{{ entity.referenciaBancaria }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_medic_emergency{% endtrans %}</th>
                <td>{{ entity.emergenciaMedica }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_horario{% endtrans %}</th>
                <td>{{ entity.horario }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_next_college{% endtrans %}</th>
                <td>{{ entity.futuroColegio }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_discount{% endtrans %}</th>
                <td>{{ entity.descuento }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_class{% endtrans %}</th>
                <td>{{ entity.clase }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_egresado{% endtrans %}</th>
                <td>{{ entity.egresado }}</td>
              </tr>
              <tr>
                <th>{% trans %}students_actividades{% endtrans %}</th>
                <td>
                  <ul>
                    {% for actividad in entity.actividades %}
                      <li>{{ actividad }}</li>
                      {% endfor %}
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-lg-12 text-center">
            <a href="{{ path('estudiante') }}" class="btn btn-info">
              {% trans %}students_back_to_list{% endtrans %}
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-6">
      <section class="panel">
        <header class="panel-heading">{% trans %}students_actions_title{% endtrans %}</header>
        <div class="panel-body">


        </div>
      </section>
    </div>
  </div>
{% endblock %}
