<div class="panel" id="cobro-panel-{{cobro.id}}">
    <div class="panel-heading">
        <a href="#cobro-collapse{{cobro.id}}" data-parent="#accordion" data-toggle="collapse" class="collapsed">
            {% if cobro.cancelado %}<s>{% endif %}Pago el {{ cobro.fecha | date('d/m/Y') }} Monto: {{ cobro.monto }}{% if cobro.cancelado %}</s>{% endif %}
        </a>

    </div>
    <div class="panel-collapse collapse" id="cobro-collapse{{cobro.id}}" style="height: 0px;">
        <div class="panel-body">
          <div class="table-responsive no-border">
            <a href="{{ path('view_cobro_pdf', {'id' : cobro.id } )}}" class="btn btn-info">
              <i class="fa fa-cogs"></i>
              {% trans %}account_cobro_generate_pdf{% endtrans %}
            </a>
            {% if not cobro.enviado %}
              <a class="btn btn-info" href="javascript:void(0)" onclick="return sendEmailToAccount('{{ path('send_cobro_email', {'id' : cobro.id }) }}')"><i class="fa fa-envelope"></i>{% trans %}account_cobro_send_email{% endtrans %}</a>
            {% else %}
              <a class="btn btn-info" href="javascript:void(0)" onclick="return sendEmailToAccount('{{ path('send_cobro_email', {'id' : cobro.id }) }}')"><i class="fa fa-envelope"></i>{% trans %}account_cobro_re_send_email{% endtrans %}</a>
            {% endif %}
            {% if not cobro.cancelado %}
              <a class="btn btn-warning pull-right" href="{{ path('disable_cobro', {'id' : cobro.id }) }}" onclick="return cancelOrActivateCobro({{ cobro.id }}, this, '{% trans %}account_cobro_cancel_question{% endtrans %}')">{% trans %}account_cobro_cancel{% endtrans %}</a>
            {% else %}
              <a class="btn btn-warning pull-right" href="{{ path('enable_cobro', {'id' : cobro.id }) }}" onclick="return cancelOrActivateCobro({{ cobro.id }}, this, '{% trans %}account_cobro_activate_question{% endtrans %}')">{% trans %}account_cobro_activate{% endtrans %}</a>
            {% endif %}
              {#{dump(cobro)}#}
          </div>
        </div>
    </div>
</div>
